 main {
        text-align: -webkit-center;
        margin-top: 75px;
        font-family: system-ui;

    }

    .continer {
        background-color: hsl(0, 0%, 100%);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 310px;
        height: 450px;
        border-radius: 25px;
        padding-bottom: 15px;

    }

    img {
        width: 280px;
        height: 280px;
        border-radius: 20px;
    }

    body {
        background-color: hsl(218, 17%, 75%);
    }

    .heading {
        text-align: center;
        font-size: 22px;
        padding: 6px;
    }

    .text {
        text-align: center;
        color: rgb(195, 192, 188);
        font: 15px bold;
        flex-wrap: wrap;
        padding: 16px;
    }
